body {
    position: relative;
}

#thela {padding-top:50px;height:600px;color: #fff;background-color: #42392C;}
#chaipatti {padding-top:50px;height:600px;color: #fff; background-color: #42392C;}
#shakkar {padding-top:50px;height:600px;color: #fff;background-color: #42392C;}
#doodh {padding-top:50px;height:600px;color: #fff;background-color: #42392C;}
#paani {padding-top:50px;height:600px;color: #fff;background-color: #42392C;}
#adrak {padding-top:50px;height:700px;color: #fff;background-color: #42392C;}

.navbar-nav > li{
  padding-left:55px;
  padding-right:55px;
}
